<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>

<body class="px-4  sm:px-6 lg:px-8">

    <header class="bg-white py-4 sm:py-12 ">
        <div class="mx-auto max-w-screen-xl ">
            <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
                <div class="w-[85%]">
                    <h1 class="text-2xl font-medium text-gray-800">Books Library</h1>
                    <p class="mt-1.5 text-sm text-gray-500">
                        Discover a world of knowledge and adventure with our extensive collection of books.
                        Whether you're looking for classic literature, thrilling novels, or informative
                        non-fiction,
                        we have something for every reader. Dive in and find your next great read today!
                    </p>
                </div>

                <a class="rounded-lg cursor-pointer bg-emerald-600 px-5 py-3 text-sm font-medium text-white transition "
                    href="/api/books/create">Create Book</a>
            </div>
        </div>
    </header>
    <div class="flex justify-end gap-4 py-4">
        <form action="/api/books/filter" method="get">
            <input type="text" id="title" name="title" placeholder="Search by title"
                class="mt-1  rounded-md border-gray-300 px-2 border py-1 bg-white text-sm text-gray-700 shadow-sm"
                 />
                <input type="text" id="title" name="author" placeholder="Search by author"
                class="mt-1  rounded-md border-gray-300 px-2 border py-1 bg-white text-sm text-gray-700 shadow-sm"
                 />
            <button class="bg-blue-100  text-blue-600 rounded-lg px-4 py-1" type="submit">
                Search
            </button>
        </form>
        <a href="/api/books/filter?show=read"
            class="bg-emerald-100 text-emerald-600 px-4 py-1 rounded-lg cursor-pointer hover:bg-emerald-200">Show Read
        </a>
        <a href="/api/books/filter?show=unread"
            class="bg-red-100 text-red-600 px-4 py-1 rounded-lg cursor-pointer hover:bg-red-200">Show Unread</a>
        <a href="/api/books"
            class="bg-gray-100 text-gray-600 px-4 py-1 rounded-lg cursor-pointer hover:bg-gray-200">Reset
        </a>
    </div>
    <section class="grid grid-cols-4 pb-4 gap-4 ">
        <% if (data && data.length === 0) { %>
            <div class="p-4 mb-4 text-sm text-center text-red-800 rounded-lg bg-red-100 " role="alert">
                <span class="font-medium">Book Not available</span>
                <a href="/api/books" class="px-4 py-1 bg-red-500 text-white m-2 rounded-lg">Reset filters</a>

            </div>

          <% } else { %>
            <% data.forEach(element => { %>
              <div class="shadow-md hover:bg-gray-100 cursor-pointer text-center rounded-lg p-4 border border-gray-200 hover:shadow-lg transition-shadow duration-300">
                <a href="/api/books/detail/<%= element.id %>" class="">
                  <div class="flex justify-between items-center">
                    <i class="fas fa-book text-2xl mb-2"></i>
                    <span class="px-4 py-0.5 rounded-lg 
                      <%= element.status === 'read' ? 'bg-emerald-100 text-emerald-600' : 'bg-red-100 text-red-600' %>">
                      <%= element.status %>
                    </span>
                  </div>
                  <h2 class="text-xl font-semibold">
                    <%= element.title %>
                  </h2>
                  <p class="text-gray-500">written by <%= element.author %></p>
                </a>
              </div>
            <% }) %>
          <% } %>
          
    </section>
</body>

</html>